<!DOCTYPE html>
<html lang="pl">
<head 
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>-->
    <link href="https://fonts.googleapis.com/css?family=Calistoga|Dancing+Script:400,700&display=swap&subset=latin-ext" rel="stylesheet">
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <!-- <link rel="stylesheet" th:href="@{../static/css/style.css}"/> -->
	<link rel="stylesheet"href="../static/css/style.css"type="text/css"/>
    <title>Welcome</title>
</head>
<body>
<div id="container"> 
    <div id="logo">
        Wypożyczalnia Samochodoawa LOGO
    </div>
	<div style="clear: both;"></div>
	<header class="masthead mb-auto"  th:insert="fragments/header.html :: nav"></header>

	<div style="clear: both;"></div>
	<div id="topbar">
	
		<div id="logoimage">
			<img src="../static/images/header-image.jpg" width="1000" height="300" >
		</div>
			
	<div id="sidebar">
		<div class="optionL">Zasady</div>
		<div class="optionL">Cennik</div> 
		<div class="optionL">Kontakt</div>
	</div>
	
    <div id="content">
		Moje rezerwacje:
    </div>
	
    <div id="footer">
		  Copyright © 2019 Blu-Two sp. z o.o. - All Rights Reserved
			Projekt, wykonanie i reklama strony - Staniec Przemysław
    </div>
</div>


</body>
